*{
    font-family: 'Ubuntu';
}:root{
    margin: 0px;
    padding: 0px;
    
}
.navbar{
    display: grid;
    grid-template-columns: repeat(2,auto);
    margin-bottom: 0.4rem;

}
#logo{
   font-family: 'Audrey';
    margin-left: 1.0rem;
    margin-bottom: 0.4rem;
    padding: 0.9rem;
    width: 21rem;
    height: 3rem;
    
    font-size: 2rem;
    font-weight: bolder;
    
    
}
#hm{
        font-size: 2.3rem;
        border: 1px solid black;
        border-radius: 0.8rem;
        background-color: white;
        position: absolute;
        padding: 0.5rem;
        margin: 0.6rem;
        right: 1rem; 
        top: 0.1rem; 
        cursor: pointer;
        transition: all 50ms ease-in-out;
          
}
#hm:hover{
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
}
.login_page{
    display: grid;
    grid-template-columns:repeat(2,auto);
    
    margin: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;

}
.lpage{
    
    position: absolute;
    right: 7rem;
    margin: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}
span  {
    font-size: 2rem;
}
#login{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 6rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.creds {
    font-size: 1.6rem;
}
img{
    position: absolute;
    width:900px;
    height: 900px;

}
#first{
    
    transition: all 1s ease-in-out;
    animation: first 2s ease-out 1s 2 forwards ;

}
@keyframes first {
    0%{
        bottom:0px;
        
    }
    100%{
        top:15px;
        display: block;
    }
}