{% extends 'base.html' %}

{% block title %} Camera {% endblock title %}

{% block head %}  
<link rel="stylesheet" href="{{ url_for('static', filename='camerapage.css') }}">
{% endblock head %}

{% block camera_body %}
<body>
	
	<div id="results">Your captured image will appear here...</div>
	<h1>This is a demo!</h1>
	<div id="my_camera"></div>
	<script type="text/javascript" src="static/scripts/webcam.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script language="JavaScript">
		Webcam.set({
			width: 320,
			height: 240,
			dest_width: 320,
			dest_height: 240,
			image_format: 'jpeg',
			jpeg_quality: 90,
			flip_horiz: true
		});
		Webcam.attach('#my_camera');
	</script>
	<script language="JavaScript">
		window.setInterval(function () {
			take_snapshot()
		},5000);
		function take_snapshot() {
			Webcam.snap(function (data_uri) {
				document.getElementById('results').innerHTML =
					'<h2>Here is your image:</h2>' +
					'<div><img src="' + data_uri + '" style="width:320px height:240px"/></div>';
				$.ajax({
					type: "GET",
					data: "myimage=" + encodeURIComponent(data_uri),
					url: "/image_info",
					contentType: false,
					processData: false,
					success: function (jsonresult) {
						console.log(jsonresult);
					}
				});
			});
		}
	</script>
	
</body>
{% endblock camera_body %}
