{% extends 'base.html' %}
{% block title %} Have a buddy who guides you to the best {% endblock title %}
{% block head %}

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Stylesheets -->
<link rel="stylesheet" href="static/styles/home.css">
<link rel="stylesheet" href="static/styles/loader1.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Noto+Sans+JP:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">


{% endblock head %}
<body>
{% block home_body %}
    <div class="container">
        <div>

        </div>
        <div class="lpage">
           <div  class ="t">
                Welcome to 
            </div>
            <div><span id="first" >POSMATE</span></div>
            
           <div id="second">
                <span class="t">
                    <div>Have a buddy who guides you for the best!</div>
                    <div>
                        So, what are you waiting for, let's get started!
                    </div>
                </span>
            </div>
            <div class="wrapper fadeInDown">
                <div id="formContent">

                    <!-- Icon -->
                    <div class="fadeIn first">
                        <span id="icon"> Login </span>
                    </div>

                    <!-- Login Form -->
                    <form action="/home" name="myForm" onsubmit="return validateForm()" method="post" required> 
                        <input type="text" id="login" class="fadeIn second" name="login"
                            placeholder="Enter Your Name">
                        <input type="submit" class="fadeIn fourth"  value="Start">

                    </form>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/scripts/home.js"></script>

    {% endblock home_body %}
</body>
