{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block head %}
<link rel="stylesheet" href="static/styles/homepage.css">
<script type="text/javascript" src="static/scripts/homepage.js"></script>
{% endblock head %}
{% block home_body %}

<body>
    <div class="login_page">
        <img src={{url_for('static', filename='p.jpg' )}} alt="#">

        <div class="lpage">
            <div class="t" style="font-size: xx-large;">Welcome to </div>
            <br>
            <br>
            <span id="first">Posture Mate</span>

            <div id="second">
                <span class="t">
                    <div>Have a buddy who guides you for the best!</div>
                    <div>
                        So, what are you waiting for, let's get started!
                    </div>
                </span>



                <div class="wrapper fadeInDown">
                    <div id="formContent">
                        <!-- Tabs Titles -->

                        <!-- Icon -->
                        <div class="fadeIn first">
                            <span id="icon"> LOGIN </span>
                        </div>

                        <!-- Login Form -->
                        <form>
                            <input type="text" id="login" class="fadeIn second" name="login"
                                placeholder="Enter Your Name">

                            <a href="/instructions"><input type="button" class="fadeIn fourth" value="Start"></a>
                        </form>

                    </div>
                </div>

                <div id="loading">
                    <div class=" d-flex align-items-center">
                        <strong>Loading...</strong>
                        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
{% endblock home_body %}