{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
{% endblock head %}

{% block home_body %}

<body>


    <div class="login_page">
        <img src={{url_for('static', filename='p.jpg' )}} alt="#">
        <div class="lpage">
            <div id="first" style="font-size: xx-large;">Welcome to <span style="font-size: 6rem;">Posture Mate</span>
            </div>
            <span id="one">
                <div>Have a buddy who guides you for the best!</div>
                <div>
                    So, what are you waiting for, let's get started!
                </div>
            </span>
            <div id="second">

                <h1>Login</h1>
                <form action="{{ url_for('login') }}" method="POST">
                    <div class="creds mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Name</label>
                        <input type="text" class=" form-control" id="exampleFormControlInput1"
                            placeholder="Enter your name" name='name'>
                    </div>
                    <button type="submit" id="submit" class="btn btn-outline-dark">Get started</button>
                </form>
            </div>
        </div>
    </div>

</body>
{% endblock home_body %}
