{% extends 'base.html' %}
{% block title %} Instructions {% endblock title %}
{% block head %}

{% endblock head %}

{% block intructions_body %}
    <body>
        <h1>General Instructions</h1>
        <p>Read the folowing:</p>
        <ul>
            <li>Inst-1</li>
            <li>Inst-2</li>
            <li>Inst-3</li>
            <li>Inst-4</li>
            <li>Inst-5</li>
            <p>Ok Done</p>
        </ul>
        
       <a href="/Calibration"> <button type="button" class="btn btn-secondary btn-sm">Next</button></a>
    
    </body>
{% endblock intructions_body %}