{% extends 'base.html' %}
{% block title %} Monitoring {% endblock title %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="static/styles/Monitoringpage.css">
{% endblock head %}
{% block Monitoring_head %}

<body>
	
		<div class="message">
			<div class="center-outer">
				<div class="center-inner">
				
				<div class="bubbles">
				<h1>Monitoring Started</h1>
				
			</div>
			<script src="static/scripts/monitoringpage.js"></script>
			
			<div id="my_camera"></div>
			<span>You can minimize the tab now </span>

		</div>
	    <script type="text/javascript" src="static/scripts/webcam.js"></script>
		<script language="JavaScript">
			Webcam.set({
				width: 320,
				height: 240,
				dest_width: 640,
				dest_height: 480,
				image_format: 'jpeg',
				jpeg_quality: 90,
				flip_horiz: true
			});
			Webcam.attach('#my_camera');
			</script>
		

		<script language="JavaScript">
			console.log(Notification.permission);
			if (Notification.permission !== "denied") {
				Notification.requestPermission();
			}

			function showNotification(text) {
				const notification = new Notification("PosBuddy", { body: text });
			}

			window.setInterval(function () {
				take_snapshot()
			}, 5000);
			function take_snapshot() {
				Webcam.snap(function (data_uri) {
					$.ajax({
						type: "GET",
						data: "myimage=" + encodeURIComponent(data_uri),
						url: "/image_info",
						contentType: false,
						processData: false,
						success: function (jsonresult) {
							if (jsonresult.state == 1) {
								showNotification(jsonresult.msg)
							}
						}
					});
				});
			}
		</script>
	
</body>

{% endblock Monitoring_head %}