{% extends 'base.html' %}
{% block title %} Monitoring {% endblock title %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="static/styles/Monitoringpage.css">
{% endblock head %}
{% block Monitoring_head %}

<body>
	<div class="container">
		<div class="message">
			<h1>Monitoring started</h1>
			<span>You can minimize the tab </span>

		</div>
		

		<script language="JavaScript">
			console.log(Notification.permission);
			if (Notification.permission !== "denied") {
				Notification.requestPermission();
			}

			function showNotification(text) {
				const notification = new Notification("PosBuddy", { body: text });
			}

			window.setInterval(function () {
				take_snapshot()
			}, 5000);
			function take_snapshot() {
				Webcam.snap(function (data_uri) {
					$.ajax({
						type: "GET",
						data: "myimage=" + encodeURIComponent(data_uri),
						url: "/image_info",
						contentType: false,
						processData: false,
						success: function (jsonresult) {
							if (jsonresult.state == 1) {
								showNotification(jsonresult.msg)
							}
						}
					});
				});
			}
		</script>
	</div>
</body>

{% endblock Monitoring_head %}