* {
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

:root {
  margin: 0px;
  padding: 0px;
}

header {
  padding: 0.7rem 1% 3px;
  display: flex;
  flex: 2 0 0 0;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: -10px;
  background-color: white;
  z-index: 5;
  margin-bottom: .5rem;
  border-bottom: 2px solid rgba(56, 55, 53, 0.692);
  box-shadow:0 12px 12px 0 rgba(233, 230, 230, 0.363) ;

}

#logo {
  font-family: 'Audrey';
  margin-bottom: .5rem;
  font-size: 2rem;
  line-height: 1.1;
  font-weight: bolder;
  flex: 3;
  margin-left: 0.8rem;
}

#hm {
  font-size: 1.9rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.8rem;
  background-color: white;
  cursor: pointer;
  transition: all 50ms ease-in-out;
}

#hm:hover {
  background-color: rgba(233, 230, 230, 0.363);
  color: black;
}
#hw {
  font-size: 1.9rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.8rem;
  background-color: white;
  right: 10.3rem;
  cursor: pointer;
  transition: all 50ms ease-in-out;
}

#hw:hover {
  background-color: rgba(233, 230, 230, 0.363);
  color: black;
}

#results {
    margin: 20px;
    padding: 20px;
    border: 1px solid;
    background: white;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
p{
    font-size: 4rem;
}
span{
    font-size: 3rem;
}

#app{
  margin: 2rem;
  padding: 1rem;
}



.base-timer {
    position: relative;
    top: 6rem;
    width: 300px;
    height: 300px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }


  @media only screen and (max-width: 885px ){
   
  
    #logo{
       font-size: 1.2rem;
   }
   #hm{
       font-size: 1rem;
   }
   #hw{
       font-size: 1rem;
       right: 5rem;
   }
   .container{
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   p{
     font-size: 3rem;

   }
   span{
      font-size: 1.5rem;
   }
  }