* {
    box-sizing: border-box;
    font-family: "Roboto Mono";
}

:root {
   
    margin: 0px;
    padding: 0px;
}


header {
    padding: 0.7rem 1% 3px;
    display: flex;
    flex: 2 0 0 0;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: -10px;
    z-index: 5;
    background: linear-gradient(to right, #101010 0%, #404040 87%);
    border-bottom: 2px solid rgba(56, 55, 53, 0.377);
    box-shadow:0 12px 12px 0 rgba(233, 230, 230, 0.363) ;

}

#logo {
    font-family: "Audiowide", sans-serif;
    margin-bottom: .5rem;
    color: white;
    font-size: 2rem;
    line-height: 1.1;
    font-weight: bolder;
    flex: 3;
    margin-left: 0.8rem;
}

#hm {
    font-family: "Audiowide", sans-serif;
    font-size: 1.9rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 0.8rem;
    /* background-color: white; */
    cursor: pointer;
    transition: all 50ms ease-in-out;
}

#hm:hover {
    background-color: rgba(233, 230, 230, 0.363);
    color: white;
}
#hw {
    font-family: "Audiowide", sans-serif;
    font-size: 1.9rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 0.8rem;
    /* background-color: white; */
    right: 10.3rem;
    cursor: pointer;
    transition: all 50ms ease-in-out;
}

#hw:hover {
    background-color: rgba(233, 230, 230, 0.363);
    color: white;
}


.container {
    /* background-image: url("/static/p2.jpg"); */
    background-image: linear-gradient(to bottom, #b6e2bc 0%, #ffffff 99%);
    background-color: #cccccc;
    height: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: inherit;
    row-gap: 2rem;
    justify-content: space-around;
    
    margin:0;
    
    
}

.lpage {
    display: flex;
    width: auto;
    margin-top: 1rem;
     align-self: flex-start;
    flex-direction: column;
    margin-left: auto;
    margin: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.t {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

span {
    font-size: 2rem;
}

#login {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#first {
    opacity: 0;
    margin-top: 2.5rem;
    font-size: 6rem;
    position: relative;
    display: block;
    animation: first 2s ease-out 0.5s forwards;
} 

@keyframes first {
    0% { 
        opacity: 0;
        bottom: 0rem;
        }
  
    20% { 
         opacity: 0;
         
        }
  40%   { opacity: 0.3;
          
        }
  60%   { opacity: 0.5;
        
        }
  80%   { opacity: 0.9; 
        
        }
  100%  { opacity: 1;
        bottom: 4rem;
         }
}

#second {
    opacity: 0;
    position: relative;
    margin: 0rem;
    display: block;
    animation: first 0.8s ease-out 1.8s forwards; 
}


 #loading {
    display: none;
}

.wrapper {
    margin: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 35rem;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #39ace7;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
    color: #cccccc;
} 


.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

 .fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s; 
} 



 .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
} 


 *:focus {
    outline: none;
}

#icon {
    font-size: 2.3rem;
    width: 60%;
    font-weight: 700;
} 

 @media only screen and (max-width: 2735px) {
    img {
        
        width: 90rem;
        height: 90rem;
    }
}

@media only screen and (max-width: 2277px) {
    img {
        
        width: 60rem;
        height: 60rem;
    }
}

@media only screen and (max-width: 1880px) {
    img {
        
        width: 48rem;
        height: 48rem;
    }
}

@media only screen and (max-width: 1700px) {
    img {
        
        width: 48rem;
        height: 48rem;
    }
   
    
    .t {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1462px) {
    img {
        
        width: 40rem;
        height: 40rem;
    }
   
    .t {
        font-size: 1.5rem;
    }
    #first {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 1279px) {
    
    #logo {
        font-size: 1.4rem;
    }
    #hm {
        font-size: 1.5rem;
    }
    #hw{
        font-size: 1.5rem;
    }
    img {
       
        width: 30rem;
        height: 30rem;
    }
    
    span {
        font-size: 2.5rem;
    }
    .t {
        font-size: 1.1rem;
    }
    #first {
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 979px) {
    
    #logo {
        font-size: 1.4rem;
    }
    #hm {
        font-size: 1.5rem;
    }
    #hw{
        font-size: 1.5rem;
    }
    img {
       
        width: 24rem;
        height: 24rem;
    }
    
    span {
        font-size: 2.5rem;
    }
    .t {
        font-size: 1.1rem;
    }
    #first {
        font-size: 2.5rem;
    }
    .wrapper{
        margin-top: -44px;
    }
}

@media only screen and (max-width: 600px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
    #logo{
        font-size: 1.2rem;
    }
    #hm{
        font-size: 1rem;
    }
    #hw{
        font-size: 1rem;
        right: 5rem;
    }
    img {
        display: none;
    }
    
    .lpage {
        justify-content: center;
        align-self: center;
        width: 20rem;
        margin: 0;
        padding: 0;
        
    }
    
    .t {
        font-size: 0.9rem;
    }
    #first {
        margin-top: 4rem;

        font-size: 1.8rem;
    }
    #icon{
        font-size: 1rem;
    }
    #login{
        font-size: 0.8rem;
    }
} 
