* {
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

:root {
    margin: 0px;
    padding: 0px;
}

header {
    padding: 0.7rem 1% 3px;
    display: flex;
    flex: 2 0 0 0;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: -10px;
    z-index: 5;
    margin-bottom: .5rem;
    border-bottom: 2px solid rgba(56, 55, 53, 0.692);
    box-shadow:0 12px 12px 0 rgba(233, 230, 230, 0.363) ;

}

#logo {
    font-family: 'Audrey';
    margin-bottom: .5rem;
    font-size: 2rem;
    line-height: 1.1;
    font-weight: bolder;
    flex: 3;
    margin-left: 0.8rem;
}

#hm {
    font-size: 1.9rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.8rem;
    background-color: white;
    cursor: pointer;
    transition: all 50ms ease-in-out;
}

#hm:hover {
    background-color: rgba(233, 230, 230, 0.363);
    color: black;
}
#hw {
    font-size: 1.9rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.8rem;
    background-color: white;
    right: 10.3rem;
    cursor: pointer;
    transition: all 50ms ease-in-out;
}

#hw:hover {
    background-color: rgba(233, 230, 230, 0.363);
    color: black;
}

.message{
    display: flex;
    flex-direction: column;
    padding: 0 1% 3px;
    margin-top: 0.7rem;

    
}
.center-inner{
    display: flex;
    align-items: center;
    flex-direction: column;
}


#button{
    display: block;
    font-size: 1.7rem;
    background-color: rgb(22, 21, 20);
    color: white;
    padding: 1rem;
    margin: 1rem;
    
    border-radius: 1rem;
 
 }
 a{
    text-decoration: none;
}
#button:hover{
    background-color: rgb(44, 42, 42);
}
span{
    
    font-size: 2rem;
    
}
.alert{
    font-size: 1.5rem;
}
.box{
    display: flex;
    margin-top: 2.6rem;
    padding: 1.5rem;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(224, 217, 217, 0.384);
    border: 2px solid black;
    border-radius: 2rem;
    box-shadow: 0 8px 8px 0 rgba(233, 230, 230, 0.363);
}



.bubbles {
    display: inline-block;
    font-family: arial;
    position: relative;
    }
    
    .bubbles h1 {
    position: relative;
    font-size: 5rem;
    margin: 1em 0 0;
    font-family: 'Luckiest Guy', cursive;
    color: rgb(3, 3, 3);
    z-index: 2;
    }
    
    .individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    background-color: rgb(26, 23, 23);
    z-index: 1;
    }


    @media screen and (max-width: 1105px){
     header {
        padding-left: 4%;
        padding-right: 4%;
        
    }}






    @media only screen and (max-width: 885px ){
        
        #logo{
           font-size: 1.2rem;
       }
       #hm{
           font-size: 1rem;
       }
       #hw{
           font-size: 1rem;
           right: 5rem;
       }
       
       .bubbles h1{
        font-size: 2rem;
       }
       span{
        font-size: 1.7rem;
       }
       #button{
        font-size: 1rem;
    
    }
    .alert{
        font-size: 0.8rem;
    }
    .message{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    }
