* {
  box-sizing: border-box;
  
  font-family: 'Noto Sans JP';
}

:root {
 
  margin: 0px;
  padding: 0px;
}

  .main{
    background-image: url("/static/p23.jpg");
    /* background-image: linear-gradient(to bottom, #b6e2bc 0%, #ffffff 99%); */
    background-color: #cccccc;
    height: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#logo{
  visibility: visible;
}

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  display : none;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid green;
  padding: 10px; 
}

canvas {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  display : block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #2a3236;
  padding: 1px;
  width: 65%;
  height: auto;
  margin-bottom: 0.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

body {
 background-image: linear-gradient(to bottom, #b6e2bc 0%, #ffffff 99%);
 background-color: #ffffff;
 background-repeat: no-repeat;
}
.container{
  margin-top: 2.0rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
#text{
  margin: 1rem;
  font-size: 2rem;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




@media only screen and (max-width: 600px) {
  .main{
      background-size: cover;
      background-image: url("/static/p4.jpg");
  }
  .container{
    
      flex-direction: column;
      align-items: center;
  }
  #logo{
      visibility: visible;
      font-size: 1.2rem;
      color: white;
  }
  #hm{
      color: white;
      font-size: 1rem;
  }
  #hw{
      color: white;
      font-size: 1rem;
      right: 5rem;
  }
  img {

      display: none;
  }
  
  .lpage {
      justify-content: center;
      align-self: center;
      width: 20rem;
      margin: 0;
      padding: 0;
      
  }
  
  .t {
      color: white;
      font-size: 0.9rem;
  }
  #first {
      margin-top: 4rem;
      color: white;
      font-size: 1.8rem;
  }
  #icon{
      font-size: 1rem;
      color: rgb(3, 3, 3);
  }
  #login{
      font-size: 0.8rem;
      color: white;
  }
  #text{
    color: white;
  }
} 


